@keyframes LeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  70% {
    transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes RightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  70% {
    transform: translateX(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes BtnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 5rem;
  background-color: #ffffff;
}

.container {
  background-color: #f7f7f7;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  color: #777777;
}

.title-first {
  color: #ffffff;
  margin-bottom: 6.5rem;
}
.title-first__main {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  animation: LeftToRight 1.7s ease 1s;
  backface-visibility: hidden;
}
.title-first__secondary {
  display: block;
  font-weight: 200;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  animation: RightToLeft 1.7s ease 1s;
  backface-visibility: hidden;
}

.title-second {
  text-align: center;
  font-size: 3.6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, #a14f03 99.94%);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.4s;
  backface-visibility: hidden;
}
.title-second:hover {
  transform: skewY(-1deg) skewX(10deg) scale(1.05);
  text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.title-third {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.paragraph {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  line-height: 140%;
  font-weight: 400;
}

.margin-bottom-1rem {
  margin-bottom: 1rem;
}

.margin-bottom-3rem {
  margin-bottom: 3rem;
}

.margin-bottom-5rem {
  margin-bottom: 5rem;
}

.margin-bottom-8rem {
  margin-bottom: 8rem;
}

.adventure-card {
  padding: 2.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.2ss;
}
.adventure-card:hover {
  transform: translateY(-1.5rem);
}
.adventure-card__icon {
  font-size: 6rem;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, #a14f03 99.94%);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #777777;
  padding: 1.5rem 4rem;
  border-radius: 5rem;
  background: #ffffff;
  font-size: 2rem;
  transition: all 0.2s;
  position: relative;
}
.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.7);
}
.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
}
.btn::after {
  content: "";
  display: inline-block;
  background: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn_animated {
  animation: BtnToUp 1s ease 1s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  color: #A14F03;
  text-decoration: none;
  padding: 1rem;
  border-bottom: 1px solid #A14F03;
  transition: all 0.5s;
}
.btn-text:hover {
  background-color: #BA8554;
  color: #ffffff;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  transform: translateY(-0.2rem);
}
.btn-text:active {
  transform: translateY(0);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
}
.composition__photo_n1 {
  top: 0;
  left: 0;
}
.composition__photo_n2 {
  top: 2rem;
  right: 0;
}
.composition__photo_n3 {
  top: 13rem;
  left: 10rem;
}
.composition__photo:hover {
  transform: scale(1.1);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/header-background.jpg) center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.header__logo {
  position: absolute;
  left: 5rem;
  top: 5rem;
  height: 7rem;
  width: 5rem;
}
.header__box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 100%;
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
  margin-bottom: 4rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (max-width: 1240px) {
  .row {
    max-width: 90.1rem;
  }
}
@media only screen and (max-width: 900px) {
  .row {
    max-width: 60rem;
  }
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
@media only screen and (max-width: 1240px) {
  .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3);
  }
}

.col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
@media only screen and (max-width: 1240px) {
  .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4);
  }
}

.col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media only screen and (max-width: 1240px) {
  [class^=col-]:not(:last-child) {
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 900px) {
  [class^=col-] {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 4rem;
  }
}

.section-about {
  margin-top: 8rem;
}

.section-adventure {
  position: relative;
  padding: 21rem 0;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7), rgba(0, 0, 0, 0.7)), url(../img/section-adventure.jpg) center/cover no-repeat;
  transform: skewY(7deg);
}
.section-adventure > * {
  transform: skewY(-7deg);
}/*# sourceMappingURL=style.css.map */